{% extends 'original.html' %} {% block content %}

<h2>Bienvenido a Doc4you!</h2>

<p>
  ¡Bienvenido a nuestra innovadora aplicación Doc4you!. Sabemos lo importante
  que son los documentos personales y de vehículos para ti, y hemos creado esta
  aplicación para simplificar su gestión y garantizar su seguridad. Nuestra
  aplicación te brinda la comodidad de tener todos tus documentos importantes al
  alcance de tu mano, sin importar dónde te encuentres. Ya no tendrás que
  preocuparte por perder o extravíar tus documentos vitales, ya que podrás
  almacenarlos de manera segura en un solo lugar.
</p>
{% endblock %}
